/* Wofi Short configuration */
configuration {
    modi: "drun,run";
    width: 20%;
    height: 20%;
    location: center;
    hide-scroll: true;
    show-icons: true;
    terminal: "alacritty";
}
@theme "~/.config/wofi/style.css"
