/* SwayNC Control Center CSS */
@import 'colors.css';

#control-center {
    background-color: @bg_color;
    border: 2px solid @border_color;
    border-radius: 10px;
}

#control-center-label {
    color: @fg_color;
}
