@define-color foreground #f3ded2;
@define-color background #0d0d2d;
@define-color cursor #f3ded2;

@define-color color0 #0d0d2d;
@define-color color1 #d3a948;
@define-color color2 #e1bc69;
@define-color color3 #c49627;
@define-color color4 #b5831f;
@define-color color5 #f0ce8a;
@define-color color6 #a67017;
@define-color color7 #f3ded2;
@define-color color8 #aa9b93;
@define-color color9 #d3a948;
@define-color color10 #e1bc69;
@define-color color11 #c49627;
@define-color color12 #b5831f;
@define-color color13 #f0ce8a;
@define-color color14 #a67017;
@define-color color15 #f3ded2;

@import "notifications.css";
@import "central_control.css";
