@import "config-nm.rasi"

mainbox {
	children: [ message, inputbar, dummyspace ];
}

message {
    background-color: transparent;
    text-color: #ffffff;
}

textbox {
    background-color: transparent;
    text-color: #ffffff;
    padding: 10px 10px 0 10px;
}

dummyspace {
	padding: 10px 0;
	expand: true;
	background-color: transparent;
}

textbox-prompt-colon {
	str: " ";
}

entry {
	placeholder: "Password";
}
