//
// Theme : black
// Original Author : Sergio Marin (highercomve)
// Original Github : @highercomve
//

// DEFAULT PROPERTIES
configuration { font: "FiraCode Nerd Font 10"; }

* {
    background:                  #010101;
    background-alt:              #141414;
	foreground: 	#f3ded2;
 	selected:                    #202020;
    alternate-normal-background: #141414;
    border:     	#f3ded2CC;
	accent: 		#B06AA5;
	accentlow:  	#B06AA566;
    primary: #f5bc6f;
    primary-fixed: #ffddb4;
    primary-fixed-dim: #f5bc6f;
    on-primary: #452b00;
    on-primary-fixed: #291800;
    on-primary-fixed-variant: #633f00;
    primary-container: #633f00;
    on-primary-container: #ffddb4;
    secondary: #dec2a1;
    secondary-fixed: #fbdebc;
    secondary-fixed-dim: #dec2a1;
    on-secondary: #3e2d16;
    on-secondary-fixed: #271904;
    on-secondary-fixed-variant: #56432b;
    secondary-container: #56432b;
    on-secondary-container: #fbdebc;
    tertiary: #b9cda0;
    tertiary-fixed: #d4eabb;
    tertiary-fixed-dim: #b9cda0;
    on-tertiary: #253515;
    on-tertiary-fixed: #101f03;
    on-tertiary-fixed-variant: #3b4c29;
    tertiary-container: #3b4c29;
    on-tertiary-container: #d4eabb;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #18120b;
    on-surface: #ede0d4;
    on-surface-variant: #d3c4b4;
    outline: #9c8f80;
    outline-variant: #4f4539;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #ede0d4;
    inverse-on-surface: #362f27;
    inverse-primary: #805611;
    surface-dim: #18120b;
    surface-bright: #3f3830;
    surface-container-lowest: #130d07;
    surface-container-low: #211b13;
    surface-container: #251f17;
    surface-container-high: #302921;
    surface-container-highest: #3b342b;
    lines:                       10;
    columns:                     1;
    cycle:                       false;
    border-width: 1px;
    border-radius: 10px;
}


// DEFAULT WINDOW
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       680px;
    x-offset:                    0px;
    y-offset:                    0px;

    // FOR ALL WIDGETS
    enabled:                     true;
    border:                      1px solid;
    border-radius:               @border-radius;
    border-color:                #c49627;
    background-color:            @background;
    padding:                     0;
}

// DEFAULT MAINBOX
mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar", "listbox" ];
}

// DEFAULT LISTBOX
listbox {
    spacing:                     20px;
    padding:                     20px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "message", "listview" ];
}

message {
    padding: 20px 20px 0;
    background-color: transparent;
    horizontal-align: 0.5;
}

// DEFAULT TOP BAR
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     30px 20px 10px;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 horizontal;
    children:                    [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         " ";
    padding:                     12px 15px 12px 17px;
    border-radius:               100%;
    text-color:                  inherit;
    background-color:            @background-alt;
}

entry {
    enabled:                     true;
    expand:                      false;
    width:                       580px;
    padding:                     12px 16px;
    border-radius:               100%;
    text-color:                  inherit;
    background-color:            @background-alt;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

// DEFAULT LIST
listview {
    enabled:                      true;
    columns:                      @columns;
    lines:                        @lines;
    cycle:                        @cycle;
    dynamic:                      false;
    scrollbar:                    false;
    layout:                       vertical;
    reverse:                      false;
    fixed-height:                 true;
    fixed-columns:                true;

    padding:                      10px;
    background-color:             @background-alt;
    text-color:                   @foreground;
    border:                       0px;
    border-radius:                10px;
    cursor:                       "default";
}

// ELEMENTS
element {
    enabled:                     true;
    spacing:                     5px;
    padding:                     10px;
    border-radius:               10px;
    background-color:            @background;
    text-color:                  @foreground;
    cursor:                      pointer;
    orientation:                 horizontal;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}

element selected.normal {
    background-color:            @selected;
}

element normal.urgent {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element normal.active {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element selected.urgent {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element selected.active {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element alternate.normal {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element alternate.urgent {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element alternate.active {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element-icon {
    size:                        2em;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
    border-radius:               0em;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
