@define-color primary #FFFFFF;
@define-color on_primary #000000;
@define-color icon_color #FFFFFF;
@define-color on_surface #000000;
@define-color border_color #FFFFFF;
@define-color background #FFFFFF;
@define-color primary_container #c49627;
